/* Sets the starting layout for the webpage */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the primary background color for the webpage */

body {
    background-color: #d9dcd6;
}

/* Sets the styling attributes for the header elements such as the compnay name and the navibar bar */

.header {
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #022636;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 35px;
    color: #022636;
    background-color: #ac9f9f;
    padding: 5px 15px 5px 40px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ac9f9f;
    text-decoration: underline;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.float-left {
    float: left;
    margin-right: 25px;
    font-size: 50px;
}

.float-right {
    margin-bottom: 20px;
    padding: 50px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ac9f9f;
    color: #ffffff;
}